{% load i18n easy_thumbnails_tags cms_tags %}

<section class="post-detail">
    <span>{{ post.date_published|date:"DATE_FORMAT" }}</span>
    {% if post.author %}
        – <span><a href="{% url 'djangocms_blog:posts-author' post.author.get_username %}">{% if post.author.get_full_name %}{{ post.author.get_full_name }}{% else %}{{ post.author }}{% endif %}</a></span>
    {% endif %}
</section>

<section class="post-detail tags">
{#    {% if post.categories.exists %}#}
{#        {% for category in post.categories.all %}#}
{#            {% if category.slug %}#}
{#                <div class="category_{{ forloop.counter }}"><a href="{% url 'djangocms_blog:posts-category' category=category.slug %}" class="blog-categories-{{ category.count }}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}</div>#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#    {% endif %}#}

{#    {% if post.tags.exists %}#}
{#        {% for tag in post.tags.all %}#}
{#            <div class="tag_{{ forloop.counter }}"><a href="{% url 'djangocms_blog:posts-tagged' tag=tag.slug %}" class="blog-tag blog-tag-{{ tag.count }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}</div>#}
{#        {% endfor %}#}
{#    {% endif %}#}
</section>
